* {
    box-sizing: border-box;
    padding: 0%;
    margin: auto;
}
img {
    border-radius: 7px;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
body {
    background-color:darkmagenta;
    padding: 25px;
}
header{
    font-family: 'Times New Roman', Times, serif;
    background-color:crimson;
    color: black;
}
header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    display: subgrid;
}
span{
    color: bisque;
}
header nav ul{
    list-style: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 35px;

}
.figure-image {
    display: inline-block;
    /* height: 450px;
    width: 100%;
    margin-bottom: 20px; */
    /* background-image: url("../images/HTML_Blog-scaled.jpeg.webp"); */
    /* background-size: cover;
    background-position: center; */
}
.logo-image {
    width: 100%;
}
h2  {
    text-align: center;
    font-size: 30px;
}
.my-about {
    text-align: center;
    font-size: 25px;
}
#About-me {
    width: 70%;
    display: flex;
    flex-direction: column;
    
    }
.float-image{
    width: 50%;
}
h3  {
    text-align: center;
    font-size: 30px;
}
article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bigger {
    width: 100%;
}
h4 {
    text-align: center;
    font-size: 30px;
}
@media screen and (max-width: 768px) {
    .my-about{
    font-size: 20px;
  }
}
@media screen and (max-width: 300px) {
    body{
        padding: 5px;
    }
}